body {
    background: linear-gradient(297deg, rgba(0,59,139,1) 1%, rgba(2,58,96,1) 100%);
    margin: 0;
}
*{
    font-family: 'Roboto', sans-serif;
    color: #DFDFDF;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputContainer {
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
}
input {
    font-size: 0.9rem;
    padding: 2px 5px;
    outline: none;
    border: 1px solid #FFF;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    color: #DDD;
}
input:disabled {
    background: rgba(0,0,0,0);
    color: #DDD;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background: rgba(14, 51, 104, 0.7);
    border: none;
    border: 1px solid #FFF;
    border-radius: 5px;
    align-self: center;
}

button:hover {
    cursor: pointer;
}

form {
    width: 20vw;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-bottom: 3px;
}